---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=<FOODDATA_API_KEY>&query=Cheddar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Api-Umbrella-Request-Id:
      - cfld1jatu197jk0mhr00
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3594'
      X-Vcap-Request-Id:
      - bbe05431-c02f-478e-6c98-9e21d9f97311
    body:
      encoding: ASCII-8BIT
      string: '{"totalHits":20247,"currentPage":1,"totalPages":405,"pageList":[1,2,3,4,5,6,7,8,9,10],"foodSearchCriteria":{"query":"Cheddar","generalSearchInput":"Cheddar","pageNumber":1,"numberOfResultsPerPage":50,"pageSize":50,"requireAllWords":false},"foods":[{"fdcId":2428039,"description":"CHEDDAR","dataType":"Branded","gtinUpc":"011863119181","publishedDate":"2022-12-22","brandOwner":"Sartori
        Company","brandName":"MONTAMORE","subbrandName":"SARTORI","ingredients":"PASTEURIZED
        MILK, CHEESE CULTURES, SALT, ENZYMES","marketCountry":"United States","foodCategory":"Cheese","modifiedDate":"2020-02-26","dataSource":"LI","packageWeight":"198
        g/7 oz","servingSizeUnit":"g","servingSize":28.0,"householdServingFullText":"1
        ONZ","shortDescription":"","tradeChannels":["NO_TRADE_CHANNEL"],"allHighlightFields":"","score":1058.0623,"microbes":[],"foodNutrients":[{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":25.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":600,"indentLevel":1,"foodNutrientId":29953913},{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","derivationId":70,"value":32.1,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":800,"indentLevel":1,"foodNutrientId":29953914,"percentDailyValue":12},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","derivationId":75,"value":0.0,"foodNutrientSourceId":9,"foodNutrientSourceCode":"12","foodNutrientSourceDescription":"Manufacturer''s
        analytical; partial documentation","rank":1110,"indentLevel":2,"foodNutrientId":29953915,"percentDailyValue":0},{"nutrie[...]
