<h1>Search Results</h1>

<% if @results.any? %>
  <ul>
    <% @results.each do |food| %>
      <li><%= food["description"] %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found</p>
<% end %>
